@import url('https://fonts.cdnfonts.com/css/harry-potter');




h1 {
  font-size: 50px;
  font-family: "Harry Potter";
  color: #dfe9e3;
  text-shadow: 2px 2px 4px #a66d70;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 60px;
  }
}


.slider {
  position:relative;
  top: 270px;
  max-height: 30vh;
  height: 15vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  box-sizing: border-box;
}
